<div class="blog-sub-navbar">
    <div class="container">
        <div class="content d-flex justify-content-space-between">
            <ul class="options d-flex g-12">
                <li><a href="#" class="d-inline-block">最新消息</a></li>
                <li><a href="#" class="d-inline-block">特別企劃</a></li>
                <li><a href="#" class="d-inline-block">新品上市</a></li>
                <li><a href="#" class="d-inline-block">鏡框小知識</a></li>
            </ul>
            <a href="#" class="search-btn"><span class="material-symbols-rounded d-inline-block">search</span></a>
        </div>
    </div>
</div>