<nav class="glasses-frame-series-sub-navbar container">
  <ul class="d-flex">
    <li class="col-4">
      <a class="col-12 d-inline-block" href="./glasses-frame-series-optical.html">
        <span class="font col-12 pt-6 pb-4 navbar-border d-inline-block text-align-center text-nowrap">OPTICAL</span>
        <div class="navbar-border-bottom"></div>
      </a>
    </li>
    <li class="col-4">
      <a class="col-12 d-inline-block" href="./glasses-frame-series-sunglasses.html">
        <span class="font col-12 pt-6 pb-4 navbar-border d-inline-block text-align-center text-nowrap">SUNGLASSES</span>
        <div class="navbar-border-bottom"></div>
      </a>
    </li>
    <li class="col-4">
      <a class="col-12 d-inline-block" href="#">
        <span class="font col-12 pt-6 pb-4 navbar-border d-inline-block text-align-center text-nowrap">FUNCTIONAL</span>
        <div class="navbar-border-bottom"></div>
      </a>
    </li>
  </ul>
</nav>