@mixin pad {
	@media(max-width: 992px) {
		@content;
	}
}
@mixin phone {
	@media(max-width: 768px) {
		@content;
	}
}
@mixin phone6plus {
	@media(max-width: 414px) {
		@content;
	}
}
@mixin phone6 {
	@media(max-width: 375px) {
		@content;
	}
}

@mixin hidden {
	display: none !important;
}
@mixin text-nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}