/* Colors: */
$color-primary: #AA0601;
$color-secondary: #FFFFFF;
$color-1: #650300;
$color-2: #FBF2F2;
$color-3: #000000;
$color-4: #707070;
$color-5: #DCDCDC;
$color-6: #555555;
$color-7: #F2F2F2;

/* Font/text values */
$font-family-primary: 'Noto Sans TC', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$character-spacing-primary: 0px;