.navbar {
	background: $color-primary 0% 0% no-repeat padding-box;
	.content {
		a {
			img {
				margin-top: 16px;
				margin-bottom: 15.43px;
				width: 80px;
				height: 48.57px;
			}
		}
		ul {
			display: flex;
			align-items: center;
			gap: 64px;
			li a {
				width: 100%;
				display: inline-block;
				font: normal normal normal 20px/30px $font-family-primary;
				letter-spacing: $character-spacing-primary;
				color: $color-secondary;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	@include phone() {
		.container {
			padding: 0 0;
			max-width: 100%;
		}
		.content {
			flex-wrap: wrap;
			img {
				margin-left: 15px;
			}
			ul {
				max-width: none;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 0px;
				li {
					border: 1px solid white;
					width: 50%;
					a {
						padding-top: 12px;
						padding-bottom: 12px;
						font-size: 16px;
						line-height: 24px;
					}
				}
			}
		}
	}
}