.page-selector {
    .page-selector-bar {
        .prev-page-btn {
            .font {
                border: 2px solid $color-6;
                padding: 11px 12px;
                font: normal normal normal 19px/29px $font-family-secondary;
                letter-spacing: $character-spacing-primary;
                color: $color-6;
            }
            .font:hover {
                background-color: $color-7;
            }
        }
        .page-number-btn {
            .font {
                border: 2px solid $color-6;
                border-left: none;
                padding: 12px 16px;
                font: normal normal normal 18px/27px $font-family-secondary;
                letter-spacing: $character-spacing-primary;
                color: $color-6;
            }
            .font:hover {
                background-color: $color-3;
                color: $color-secondary;
            }
        }
        li:nth-child(3) {
            .font {
                background-color: $color-3;
                color: $color-secondary;
            }
        }
        .next-page-btn {
            .font {
                border: 2px solid $color-6;
                border-left: none;
                padding: 11px 12px;
                font: normal normal normal 19px/29px $font-family-secondary;
                letter-spacing: $character-spacing-primary;
                color: $color-6;
            }
            .font:hover {
                background-color: $color-7;
            }
        }
    }
    @include phone() {
        margin-bottom: 64px;
    }
}