.blog {
    h1 {
        border-left: 8px solid $color-primary;
        font: normal normal bold 48px/72px $font-family-primary;
    }
    @include phone() {
        .headline>div {
            padding-top: 40px;
            padding-bottom: 24px;
        }
        h1 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .event-cards .card {
        .info {
            .event-title-in-mandarin {
                font: normal normal normal 32px/48px $font-family-primary;
                color: $color-1;
            }
            .event-title-in-english {
                font: normal normal 500 20px/30px $font-family-secondary;
                color: $color-3;
            }
            .uploaded-date {
                font: normal normal 500 16px/24px $font-family-secondary;
                color: $color-6;
            }
            .event-description {
                font: normal normal normal 20px/30px $font-family-primary;
                color: $color-6;
            }
            .more-details-btn {
                font: normal normal bold 36px/54px $font-family-secondary;
                color: $color-1;
            }
        }
    }
    @include pad() {
        .event-cards {
            padding-bottom: 56px;
        }
        .event-cards .card {
            margin-bottom: 24px;
            .mobile-device-clickable-area {
                display: inline-block;
            }
            .info {
                .event-title-in-mandarin {
                    font-size: 24px;
                    line-height: 36px;
                }
                .event-title-in-english {
                    font-size: 16px;
                    line-height: 24px;
                }
                .event-description {
                    font-size: 16px;
                    line-height: 24px;
                }
                /* unknown technique */
                .invisible-text:before {
                    content: 'more'
                }
                .more-details-btn {
                    display: none;
                }
            }
        }
    }
    @include phone() {
        .event-cards {
            padding-bottom: 40px;
        }
        .event-cards .card {
            flex-wrap: wrap;
            .spotlight {
                width: 100%;
            }
            .info {
                width: 100%;
                .event-description {
                    display: none;
                }
            }
        }
    }
}