.glasses-frame-series-sunglasses {
    .glasses-frame-series-sub-navbar {
        ul>li:nth-child(2) {
            .navbar-border-bottom {
                background-color: $color-primary;
            }
        }
    }
    .hero-banner {
        .left-half {
            height: 296px;
            background: url(../../assets/images/product-header-3.png) no-repeat;
            background-position: center;
            background-size: cover;
        }
        .right-half {
            height: 296px;
            background: url(../../assets/images/product-header-4.png) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    @include phone() {
        .hero-banner {
            margin-bottom: 40px;
            .left-half {
                height: 136px;
            }
            .right-half {
                height: 136px;
            }
        }
    }
    .items-in-grid {
        .genre-title-english {
            font: normal normal 700 42px/63px $font-family-secondary;
            letter-spacing: $character-spacing-primary;
            color: $color-3
        }
        .genre-title-mandarin {
            font: normal normal normal 32px/48px $font-family-primary;
            letter-spacing: $character-spacing-primary;
            color: $color-3
        }
        .item {
            .item-name {
                font: normal normal normal 24px/36px $font-family-secondary;
                letter-spacing: $character-spacing-primary;
                color: $color-3
            }
            .item-price {
                font: normal normal 700 24px/36px $font-family-secondary;
                letter-spacing: $character-spacing-primary;
                color: $color-primary;
            }
            .color-picker {
                width: 24px;
                height: 24px;
                border-radius: 4px;
            }
            .color-picker:hover {
                border: 4px solid $color-3;
            }
            .color-1 {
                background-color: #5F3E2D;
            }
            .color-2 {
                background-color: #B75929;
            }
        }
    }
    @include pad() {
        .grid {
            margin-bottom: 40px;
            .item {
                width: 50%;
                margin-bottom: 40px;
            }
        }
    }
    @include phone() {
        .items-in-grid {
            .genre-title-english {
                font-size: 24px;
                line-height: 36px;
            }
            .genre-title-mandarin {
                margin-bottom: 24px;
                font-size: 24px;
                line-height: 36px;
            }
        }
        .grid {
            .item {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}