<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/meta'); -%>
    <title>系列鏡框 - 眼鏡官網</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="glasses-frame-series">
        <nav class="sub-navbar container">
            <ul class="row d-flex">
                <li class="col-4 text-align-center"><a href="#">OPTICAL</a></li>
                <li class="col-4 text-align-center"><a href="#">SUNGLASSES</a></li>
                <li class="col-4 text-align-center"><a href="#">FUNCTIONAL</a></li>
            </ul>
        </nav>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>