<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/meta'); -%>
    <title>系列鏡框 - 眼鏡官網</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="glasses-frame-series-optical">
      <%- include('./layout/glasses-frame-series-sub-navbar'); -%>
      <div class="hero-banner d-flex mb-20">
        <div class="left-half col-6"></div>
        <div class="right-half col-6"></div>
      </div>
      <div class="items-in-grid">
        <div class="container">
          <h2 class="genre-title-english text-align-center">Celluloid Combi</h2>
          <h2 class="genre-title-mandarin text-align-center mb-8">賽璐珞鈦金屬混合鏡框</h2>
          <ul class="grid row d-flex flex-wrap">
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
            <li class="item col-3 px-3 mb-20">
              <img src="../assets/images/product-8.png" alt="">
              <div class="info d-flex justify-content-space-between">
                <p class="item-name">BJ41600S</p>
                <p class="item-price">NTD3,490</p>
              </div>
              <div class="palette d-flex g-2">
                <a class="color-picker d-inline-block color-1" href="#"></a>
                <a class="color-picker d-inline-block color-2" href="#"></a>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <%- include('./layout/page-selector'); -%>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>