<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./layout/meta'); -%>
        <title>Document</title>
</head>

<body>
    <%- include('./layout/header'); -%>
    <main class="test">
        <div class="container">
            <ul class="sub-navbar d-flex justify-content-center align-items-center g-4">
                <li><a href="">First</a></li>
                <li><a href="">Second</a></li>
                <li><a href="">Third</a></li>
                <li><a href="">Fourth</a></li>
            </ul>
        </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>